$dark-theme: var(--theme)

$white: var(--white)
$black: var(--black)

$grey: var(--grey)
$green: var(--green)
$red: var(--red)
$blue: var(--blue)
$yellow: var(--yellow)
$orange: var(--orange)

$grey-light: var(--grey-light)
$green-light: var(--green-light)
$red-light: var(--red-light)
$blue-light: var(--blue-light)
$yellow-light: var(--yellow-light)
$orange-light: var(--orange-light)

$grey-dark: var(--grey-dark)
$green-dark: var(--green-dark)
$red-dark: var(--red-dark)
$blue-dark: var(--blue-dark)
$yellow-dark: var(--yellow-dark)
$orange-dark: var(--orange-dark)

$white-rgb: var(--white-rgb)
$black-rgb: var(--black-rgb)

$grey-rgb: var(--grey-rgb)
$green-rgb: var(--green-rgb)
$red-rgb: var(--red-rgb)
$blue-rgb: var(--blue-rgb)
$yellow-rgb: var(--yellow-rgb)
$orange-rgb: var(--orange-rgb)

$grey-light-rgb: var(--grey-light-rgb)
$green-light-rgb: var(--green-light-rgb)
$red-light-rgb: var(--red-light-rgb)
$blue-light-rgb: var(--blue-light-rgb)
$yellow-light-rgb: var(--yellow-light-rgb)
$orange-light-rgb: var(--orange-light-rgb)

$grey-dark-rgb: var(--grey-dark-rgb)
$green-dark-rgb: var(--green-dark-rgb)
$red-dark-rgb: var(--red-dark-rgb)
$blue-dark-rgb: var(--blue-dark-rgb)
$yellow-dark-rgb: var(--yellow-dark-rgb)
$orange-dark-rgb: var(--orange-dark-rgb)


$selecting-background-color: var(--selecting-background-color)
$selecting-text-color: var(--selecting-text-color)
$border-color: var(--border-color)
$background-color: var(--background-color)
$hover-background-color: var(--hover-background-color)
$text-color: var(--text-color)

$selecting-background-color-rgb: var(--selecting-background-color-rgb)
$selecting-text-color-rgb: var(--selecting-text-color-rgb)
$border-color-rgb: var(--border-color-rgb)
$background-color-rgb: var(--background-color-rgb)
$hover-background-color-rgb: var(--hover-background-color-rgb)
$text-color-rgb: var(--text-color-rgb)

$ag-primary-color: var(--ag-primary-color)
$ag-secondary-color: var(--ag-secondary-color)
$ag-text-color: var(--ag-text-color)
$ag-headline-color: var(--ag-headline-color)

$ag-primary-color-rgb: var(--ag-primary-color-rgb)
$ag-secondary-color-rgb: var(--ag-secondary-color-rgb)
$ag-text-color-rgb: var(--ag-text-color-rgb)
$ag-headline-color-rgb: var(--ag-headline-color-rgb)







