@font-face
  font-family: 'Franklin_Gothic_Demi'
  src: local('MyFont'), url("../fonts/ep-stellari-display.ttf") format('woff')

$animation-duration: 250ms
$animation-curve: cubic-bezier(0.76, 0, 0.24, 1)


$border-radius: 15px
$child-border-radius: $border-radius - 5
$child-child-border-radius: $border-radius - 10

$gap: 10px

$header-font-family: 'Franklin_Gothic_Demi', sans-serif
$font-family: 'Roboto', sans-serif

$shadow-opacity: var(--shadow-opacity)



