@import ../../colors

.tabs
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 20px

.tabs-pages
    width: 600px
    min-width: 600px
    max-width: 600px
    height: 600px
    min-width: 600px
    max-width: 600px
    border-radius: 10px 
    border: 1px solid $black

    .tabs-page
      display: flex
      justify-content: center
      align-items: center
      font-size: 100px
      color: $base-color
    