@import "../../colors.sass"
@import "../../variables.sass"

.tv-tool-button
    padding: 10px
    width: max-content
    background-color: $white
    color: $black
    border-radius: 5px
    font-weight: 300
    cursor: pointer
    border: 1px solid transparent
    transition: all 250ms cubic-bezier(.4,.2,0,1)
    display: flex
    justify-content: center
    align-items: center
    opacity: .9
    font-size: 13px
    position: relative
    overflow: hidden
    letter-spacing: 1px
    @include disable-selecting

    &.loading
        cursor: wait

    .loading-effect
        height: 150%
        width: 150px
        pointer-events: none
        background: transparent
        background: linear-gradient(90deg, rgba($black-rgb,0) 8%, rgba($black-rgb,0.2) 50%, rgba($black-rgb,0) 82%)
        position: absolute
        top: 0
        left: 0
        animation: loading 2s cubic-bezier(.4,.2,0,1) infinite

    &.with-shadow
        box-shadow: 0 15px 50px rgba(0, 0, 0, .05)



    &.grey
        color: $grey

        .loading-effect
            background: linear-gradient(90deg, rgba($grey-rgb,0) 8%, rgba($grey-rgb,0.2) 50%, rgba($grey-rgb,0) 82%)


        .button-icon
            color: $grey

    &.green
        color: $green

        .loading-effect
            background: linear-gradient(90deg, rgba($green-rgb,0) 8%, rgba($green-rgb,0.2) 50%, rgba($green-rgb,0) 82%)

        .button-icon
            color: $green

    &.red
        color: $red

        .loading-effect
            background: linear-gradient(90deg, rgba($red-rgb,0) 8%, rgba($red-rgb,0.2) 50%, rgba($red-rgb,0) 82%)

        .button-icon
            color: $red

    &.blue
        color: $blue

        .loading-effect
            background: linear-gradient(90deg, rgba($blue-rgb,0) 8%, rgba($blue-rgb,0.2) 50%, rgba($blue-rgb,0) 82%)

        .button-icon
            color: $blue

    &.yellow
        color: $yellow

        .loading-effect
            background: linear-gradient(90deg, rgba($yellow-rgb,0) 8%, rgba($yellow-rgb,0.2) 50%, rgba($yellow-rgb,0) 82%)

        .button-icon
            color: $yellow

    &:active
        &:not(.disabled)
            opacity: 1

            &.with-shadow
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0)

    &.primary
        background-color: $black
        color: $white
        font-weight: 500

        .loading-effect
            height: 150%
            width: 150%
            background: transparent
            background: linear-gradient(90deg, rgba(255,255,255,0) 8%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 82%)

        .button-icon
            color: $white

        &.grey
            background-color: $grey
            color: $black

            .button-icon
                color: $black

        &.green
            background-color: $green
            color: $green-light

            .button-icon
                color: $green-light

        &.red
            background-color: $red
            color: $red-light

            .button-icon
                color: $red-light

        &.blue
            background-color: $blue
            color: $blue-light

            .button-icon
                color: $blue-light

        &.yellow
            background-color: $yellow
            color: $yellow-light

            .button-icon
                color: $yellow-light

    &.outlined
        background-color: $white
        color: $black
        border: 1px solid $black

        &.grey
            background-color: rgba($grey-rgb, .02)
            color: $black
            border: 1px solid rgba($grey-rgb, .6)

        &.green
            background-color: rgba($green-rgb, .02)
            color: $green
            border: 1px solid rgba($green-rgb, .6)

        &.red
            background-color: rgba($red-rgb, .02)
            color: $red
            border: 1px solid rgba($red-rgb, .6)

        &.blue
            background-color: rgba($blue-rgb, .02)
            color: $blue
            border: 1px solid rgba($blue-rgb, .6)

        &.yellow
            background-color: rgba($yellow-rgb, .02)
            color: $yellow
            border: 1px solid rgba($yellow-rgb, .6)

    &.disabled
        opacity: .5
        cursor: default

    .button-icon
        pointer-events: none
        line-height: 0
        height: 0
        width: 0
        font-size: 15px
        display: flex
        justify-content: center
        align-items: center
        color: $black
        padding: 0

@keyframes loading
    from
        left: -150px
    to
        left: 120%