@import ../../../colors
@import ../../../variables

.tabs-switcher
    display: flex
    justify-content: center
    align-items: center
    width: max-content
    height: max-content
    border: 1px solid $black
    border-radius: 10px
    position: relative
    @include disable-selecting

    .switch-button
        width: 0
        height: 0
        padding: 15px
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        heigth: 0
        background-color: red
        cursor: pointer
        border-radius: 20px
        border: 1px solid $black
        background-color: $grey-light

        &.prev
            left: -15px
            transform: translateX(-100%)

        &.next
            right: -15px
            transform: translateX(100%)

        span
            font-size: 20px
            position: absolute
            line-height: 0

    .tab
        cursor: pointer
        height: 0
        width: max-content
        display: flex
        justify-content: center
        align-items: center
        padding: 22px 17px
        z-index: 2
        transition: all 750ms cubic-bezier(.4,.2,0,1) 100ms
        color: $black

        &.disabled
            cursor: no-drop
            opacity: .3

        &.selected
            color: $white

    .background-effect
        height: calc(100% - 10px)
        width: 50px
        left: 5px
        position: absolute
        background-color: $black
        border-radius: 5px
        z-index: 1
        transition: all 750ms cubic-bezier(.4,.2,0,1) 100ms