@import "../../../variables"
@import "../../../colors"

.user
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: all $duration $animationCurve

    .user-image
        width: 30px
        height: 30px
        border-radius: 500px
        background-color: $white
        background-size: cover
        margin: 5px 0
        transition: all $duration $animationCurve

    .user-name
        display: flex
        color: $black

        .user-name-tile
            overflow: hidden
            white-space: nowrap
            transition: all $duration $animationCurve
            margin-right: 1px
            font-size: 12px
            font-weight: 300

            &.open
                font-size: 20px
                margin-right: 5px

            &:last-child
                margin-right: 0

    &.open
        margin: 15px 0

        .user-image
            width: 80px
            height: 80px
            margin-bottom: 15px

        .user-name
            .user-name-tile
                font-size: 20px
                margin-right: 5px

                &:last-child
                    margin-right: 0