@import "../../colors"

.select
    position: relative
    display: flex
    justify-content: center
    align-items: center
    pointer-events: auto
    width: max-content
    margin: 3px

    &:after
        $box-size: 4px
        content: ""
        display: block
        width: 0
        height: 0
        padding: $box-size
        position: absolute
        top: -$box-size
        left: -$box-size
        background-color: $blue
        border-radius: 10px
        opacity: 0
        transition: opacity 350ms cubic-bezier(.4, .2, 0, 1)

    &.options-selected
        &:after
            opacity: 1

    > span
        cursor: pointer