@import "../../../../colors"

.submenu-selector
    pointer-events: inherit
    > div
        display: contents

.select-option
    padding: 10px 15px
    color: rgba(0, 0, 0, .8)
    background-color: transparent
    transition: all 350ms cubic-bezier(.4, .2, 0, 1)
    border-radius: 10px
    display: flex
    justify-content: flex-start
    align-items: center
    position: relative
    cursor: pointer
    overflow: hidden
    width: 100%
    box-sizing: border-box

    > pre
        padding-right: 15px
        font-size: 14px
        color: rgba($black-rgb, .6)
        overflow: hidden

    &.default-option
        > pre
            color: rgba($black-rgb, .6)

    &.hide-option
        height: 0
        padding: 0 10px
        opacity: 0

    .select-option-icon
        transition: all 350ms cubic-bezier(.4, .2, 0, 1)
        width: 25px
        font-size: 20px
        color: $blue
        position: absolute
        left: -20px
        opacity: 0
        
        &.submenu
            opacity: 1
            right: 2.5px
            color: $black
            left: auto
            font-size: 15px
            opacity: .8

    &:hover
        > pre
            color: $black
        background-color: rgba($black-rgb, .1)

    &.selected
        padding-left: 25px
        width: 100%

        > pre
            color: $black

        .select-option-icon
            opacity: 1
            left: 2.5px

            &.submenu
                opacity: .8
                right: 2.5px
                left: auto