@import "../../colors.sass"
@import "../../variables.sass"

.infos-card
    padding: 10px
    width: max-content
    max-width: 270px
    min-width: 270px
    display: flex
    flex-direction: column
    justify-content: center
    border-radius: 10px
    align-items: stretch
    transition: all 350ms $animationCurve
    position: relative

    .infos-card-headline
        transition: all 350ms $animationCurve
        border: 1px solid $black
        display: flex
        flex-direction: column
        gap: 20px
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 30px 0
        font-weight: bold
        background-color: rgba($black-rgb, .1)
        color: $black
        border-radius: 5px
        @include disable-selecting
        font-size: 16px
        line-height: 0
        position: relative

        &.with-sub-headline
            padding: 20px 0

        small
            font-size: 10px

    .infos-card-data
        background-color: $white
        transition: all 350ms $animationCurve
        padding: 15px
        border: 1px solid $black
        border-top: 0
        border-radius: 0 0 10px 10px
        width: calc(100% - 20px)
        margin: auto
        overflow: hidden

        .data-header-text
            transition: all 350ms $animationCurve
            color: $black
            font-size: 11px
            margin-bottom: 5px
            font-weight: bold
            @include disable-selecting

        .data-value
            color: rgba($black-rgb, .8)
            text-align: right
            margin-bottom: 15px
            font-size: 14px

            &.last
                white-space: nowrap
                margin-bottom: 0
    &:hover
        transform: scale(1.03) translateY(-10px)

        .infos-card-headline
            border-color: $base-color
            background-color: $base-color-accent
            color: $base-color

        .infos-card-data
            border-color: $base-color
            box-shadow: 0 15px 30px rgba($base-color-rgb, .05)

            .data-header-text
                color: $base-color