@import "../../colors"
@import "../../variables"

.textfield
  position: relative
  display: flex
  align-items: center

  .textfield-input
    box-sizing: content-box
    width: calc(100% - 21px)
    border: 1px solid $border-color
    background-color: $background-color
    padding: 0 10px
    line-height: 40px
    border-radius: 10px
    font-size: 15px
    color: $black
    transition: all 250ms cubic-bezier(.4, .2, 0, 1)
    font-weight: 300
    font-family: $font-family

    &.with-left-icon
      padding-left: 43px

      &-button
        padding-left: 52px

    &.with-right-icon-button
      padding-right: 43px

      &-button
        padding-right: 52px

    &:focus
      border: 1px solid rgba($base-color-rgb, .8)
      background-color: rgba($base-color-accent-rgb, .03)
      color: $black

  .icon-button
    position: absolute
    padding: 0 !important
    height: 43px
    width: 43px
    transform: scale(.8)

    .cht-button
      background-color: $white !important
      border: 1px solid rgba($text-field-button-border-color, $text-field-button-border-alpha)

    > span
      color: rgba($base-color-rgb, .7) !important
      font-size: 20px

    &.only-icon
      cursor: default
      background-color: transparent
      box-shadow: 0 0 0 transparent
      pointer-events: none

    &.left
      left: 0

    &.right
      right: 0

  &.is-invalid
    .textfield-input
      border-color: $red !important

  .textfield-invalid-feedback-text
    color: $red
    position: absolute
    left: 0
    transform: translateY(200%)
    font-size: 12px
    display: flex
    justify-content: center
    align-items: center


    > span
      padding-right: 5px
      font-size: 12px