@import "../../colors"
@import "../../variables"

.floating-action-buttons
    padding: 7px
    display: flex
    justify-content: center
    align-items: center
    background-color: $white
    border: 1px solid $black
    border-radius: 50px
    transition: all 350ms cubic-bezier(.4,.2,0,1)
    gap: 7px
    position: absolute
    cursor: pointer

    .click-background
        content: ""
        display: block
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0


    .button
        transition: all 350ms cubic-bezier(.4,.2,0,1)
        background-color: $black
        border-color: transparent
        border-radius: 20px
        padding: 1px
        overflow: hidden
        pointer-events: none

        .button-icon
            opacity: 0
            transition: all 350ms cubic-bezier(.4,.2,0,1)
            font-size: 18px
            color: $black
            font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 80

    &.active
        cursor: default
        animation: bloB 3s cubic-bezier(.4,.2,0,1) infinite

        .button
            background-color: rgba($black-rgb, .1)
            padding: 17px
            animation: bloBButtons 3s cubic-bezier(.4,.2,0,1) infinite
            pointer-events: auto

            .button-icon
                opacity: 1

            &:hover
                background-color: $base-color-accent

                .button-icon
                    color: $base-color

    &:hover
        animation-play-state: paused

        .button
            animation-play-state: paused

@keyframes bloB
    0%
        transform: translateY(2px)
    10%
        transform: translateY(2px)
    30%
        transform: translateY(-4px)
    50%
        transform: translateY(4px)
    80%
        transform: translateY(-2px)
    100%
        transform: translateY(2px)

@keyframes bloBButtons
    0%
        transform: translateY(-1px)
    10%
        transform: translateY(-1px)
    30%
        transform: translateY(2px)
    50%
        transform: translateY(-2px)
    80%
        transform: translateY(1px)
    100%
        transform: translateY(-1px)