$white: #fff
$black: #333

$grey: #eaedee
$green: #00C071
$red: #FF4553
$blue: #0066C9
$yellow: #ffab00
$orange: #ff7300

$grey-light: #ededed
$green-light: #f3fffa
$red-light: #ffebf0
$blue-light: #e6f4ff
$yellow-light: #fff9f1
$orange-light: #fff4eb

$grey-dark: #616161
$green-dark: #00492c
$red-dark: #67010a
$blue-dark: #01376e
$yellow-dark: #312100
$orange-dark: #401b00

$selection-color: #80ffca
$border-color: #e0e0e0
$border-color-dark: #bbbbbb