@import "colors"
@import "variables"

*
  margin: 0
  box-sizing: border-box

  ::-webkit-scrollbar
    cursor: pointer
    width: 8px
    height: 8px
    background: rgba($black-rgb, .0)

  ::-webkit-scrollbar-thumb
      background: rgba($black-rgb, .2)
      border-radius: 2px

  &:after, &:before
    box-sizing: border-box

  &:focus
    outline: none

  &::selection
    background: $selection-color
    color: $black

  &::-moz-selection
    background: $selection-color
    color: $black

  &:focus
    outline: none


.material-symbols-outlined
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48


#root, .App
  background-color: $white

.App
  font-family: $font-family
  height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 
  gap: 50px
  padding: 50px

  .another-position
    height: 100%
    width: 300%
    display: flex
    justify-content: center
    align-items: center